*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-image: linear-gradient($base-pink, $light-pink);
  background-repeat: no-repeat;
}
