.Landing{
  h1{
    font-size: 10rem;
  }
  h2{
    font-size: 5rem;
    font-style: italic;
  }

  &__projects{
    span{
      font-size: 3rem;
      font-weight: 700;
    }
    a{
      text-decoration: none;
    }
  }
}

.Header {
  nav{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    a{
      text-decoration: none;
      color: $font-color;
    }
  }
}
