@keyframes teste {
  /*the percentage is when we want it to happen, 0% beggining and 100% finish and all in between*/
  /* browsers are optmized for two properties: opacity and transform, always try to stick to these*/
  0% {
      transform: translateX(0); /*where we want the item to begin at*/
  }

  50% {
      transform: translateX(2rem);
  }

  100% {
      transform: translateX(2.5rem); /*because we want it to be where it is supposed to be*/
  }
}