.Header{
  nav{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5rem;

    .btn-wrapper{
      width: 10%;
      display: flex;
      justify-content: center;
      text-align: center;
      a{
        .icon-description{
          display: none;
          width: 100%;
        }
        &:hover{
          .icon-description{
            display: block;
            color: $dark-pink;
           }
        }
      }
    }
  }
}

[class$="-icon"] {
  color:$font-color;
  transition: color .5s;
  &:hover{
    color: $dark-pink;
  }
} 

