.Header{
  height: 15vh;
  nav{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-top: 3rem;

    .btn-wrapper{
      height: 100%;
      width: 10rem;
      display: flex;
      justify-content: center;
      text-align: center;
      a{
        .icon-description{
          display: none;
          width: 100%;
        }
        &:hover{
          .icon-description{
            display: block;
            color: $dark-pink;
           }
        }
      }
    }
  }
}

.logo{
  color: $dark-pink;
  width: 15rem;
  height: 15rem;

  position: absolute;

  top: 0;
  left: 2rem;
}

[class$="-icon"] {
  color:$font-color;
  transition: color .5s;
  &:hover{
    color: $dark-pink;
  }
} 

