.Portfolio{

  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title{
    padding: 2rem;
  }
  &__description{
    padding: 2rem;
  }
  .projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 65%;

    
  }
}

.project-image{
  width: 50%;
  text-align: center;
  padding: 2rem;

  img{
    width: 100%;
    border-radius: 10px;
    transition: all .2s;

    &:hover{
      box-shadow: 0 1rem 2rem rgba($shadow, .15);
      transform: translateY(-2px);
    }

    &:active{
      box-shadow: 0 .5rem 1rem rgba($shadow, .15);
      transform: translateY(0);
    }
  }     
}

.project-modal{
  background-color: red;

  width: 100rem;
  height: 50rem;

  font-size: 5rem;
}

.project-modal-overlay{
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);

  display: flex;
  align-items: center;
  justify-content: center;
}
